#add all the file that we don't wanna push and trace
/env/
/img
/computer_vision/config_own.py
/computer_vision/__pycache__
/computer_vision/JSON_file
/computer_vision/Training/config_own.py
/computer_vision/Training/__pycache__
/computer_vision/Training/model
/computer_vision/Training/log