#file-input-wrapper{
    height: 5vh;
    margin: 3vh 1vh 1vh 1vh;
    padding: 1vh 5vw 1vh 5vw;
    border-radius: 3px;
    color: white;
    background-color: var(--blue);
    cursor: pointer;

}


input[type='file']{
    display: none;
}

.submit-upload-image{
    display: block;
    width: 40vw;
    margin: 3vh 30vw 5vh 30vw; 
    padding: 1vh 5vw 1vh 5vw;
    border: none;
    border-radius: 3px;
}

.submit-disable{
    color: var(--blue);
    background-color: var(--white);
}

#upload-wrapper{
    width: 100%;
}

#camera-wrapper{
    width: 100vw;
    justify-content: center;
}

#preview-photo{
    height: 600px;
    width: 800px;
    margin: auto;
    border: 3px dotted gray;
}

#no-photo {
    position: relative;
    height: 100%;
    width: 100%;
}

#no-photo div{
    position: relative;
    width: 30%;
    height: 30%;
    margin: 25% 35% 25% 35%;
    background-image: url(../img/shoeIcon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: opacity(.5);
}


#preview-photo img{
    position: relative;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

#or{
    margin: 2vh auto 1.5vh auto;
}

#loading{
    position: relative;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    height: 50%;
    width: 50%;
    top: -80%;
    left: 25%;
    box-sizing: border-box;
    border-radius: 30px;
    padding-top: 10%;
    -webkit-box-shadow: 0px 0px 46px -13px rgb(89, 86, 102);
    -moz-box-shadow: 0px 0px 46px -13px rgb(89, 86, 102);
    box-shadow: 0px 0px 46px -13px rgb(89, 86, 102);
}


.upload-section{
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.upload-section h1{
    position: relative;
    margin: 5vh auto 5vh auto;
    color: var(--blue);
}

.Result{
    width: 50vw;
}

.Result button{
    width: 20%;
    margin: 1vh 40% 3vh 40%;
}
.Result img{
    position: relative;
    width: 100%;
}

.ResultText{
    position: relative;
    margin: .5vh 10% .5vh 10%;
}

.ResultText h3{
    color: var(--blue);
}
